
/* slider image brightness */
.brightness{
    filter: brightness(50%);
}

/* socail media icon color */
.fa-brands{
    color: white;
}

@media only screen and (max-width:576px) {
    .mobile{
        display: block;
        flex-direction: column;
    }

    .mobile-width{
        width:100%;
    }
    .company{
        display: none;
    }
}
@media only screen and (max-width:992px){
    .company{
        display: none;
    }
}